.flexBox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.contactBox {
  border: 1px solid yellow;
  padding: 15px;
  min-width: 200px;
  max-width: 280px;
  width: 100%;
}
